<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Page Title</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?cp0z2c">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <style type="text/css">
    * {
      box-sizing: border-box;
      box-shadow: none !important;
    }

    html, body {
      margin: 0;
      padding: 0;
      font-weight: 300;
    }

    a {
      text-decoration: none;
    }

    b, em {
      font-weight: 500;
    }

    body {
      background-color: /*#fff*/ #009688 /*#1c1440*/;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      font-family: Roboto, sans-serif;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      /*background-image: url(/static/img/wallhaven-91110.jpg);*/
      background-size: cover;
      background-attachment: fixed;
      /*box-shadow: 0 0 400px rgba(0,0,0,0.7) inset;*/
    }
  </style>
  <!-- <script src="script.js"></script> -->
  <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="/static/js/index.js"></script>
  <script type="text/javascript">
    var print = console.log.bind(console)

    // REF: https://developer.mozilla.org/en/docs/Web/API/WindowBase64/Base64_encoding_and_decoding
    // function b64EncodeUnicode(str) {
    //   return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
    //     function toSolidBytes(match, p1) {
    //       return String.fromCharCode('0x' + p1);
    //     }))
    // }

    // function loadScript(url) {
    //   var id = b64EncodeUnicode(url)
    //   var script = document.getElementById(id)
    //   if(script)
    //     return Promise.resolve(script)
    //   script = document.createElement('script')
    //   script.setAttribute('defer', '')
    //   script.setAttribute('async', '')
    //   var head = document.getElementsByTagName('head')[0]
    //   var p = new Promise(function(res, rej) {
    //     script.id = id
    //     script.onload = function(ev) {
    //       res(script)
    //     }
    //     script.onerror = function(ev) {
    //       rej(script)
    //     }
    //     script.src = url
    //     head.append(script)
    //   })
    //   return p
    // }

    // var googleScriptSrc = '//apis.google.com/js/platform.js'
    // var facebookScriptSrc = '//connect.facebook.net/en_US/sdk.js'

    // function googleSignin() {
    //   loadScript(googleScriptSrc)
    //   .then(function(s) {
    //     return new Promise(function(res, rej) {
    //       gapi.load('auth2', function() {res()})
    //     })
    //   })
    //   .then(function() {
    //     return gapi.auth2.init({
    //       'clientId': '32902065428-sbal87ccp0eedjoo2opcq0tr22ha3884.apps.googleusercontent.com',
    //       'scope': 'profile email'
    //     }).then()
    //   })
    //   .then(function() {
    //     var ga = gapi.auth2.getAuthInstance()
    //     return ga.grantOfflineAccess()
    //   })
    //   .then(function(resp) {
    //     var authCode = resp.code
    //   })
    //   .catch(function(err) {
    //     alert('Could not authenticate with Google.')
    //   })
    // }

    // function googleSignout() {
    //   if(gapi && gapi.auth2) {
    //     gapi.auth2.getAuthInstance().disconnect();
    //   }
    // }

    // class Auth {
    //   constructor({provider, scriptSrc, cred}) {
    //     if(!(provider && scriptSrc && cred))
    //       throw 'Must have a provider, scriptSrc, and cred arg'

    //     this.provider = provider
    //     this.scriptSrc = scriptSrc
    //     this.cred = cred

    //     if(provider == 'google') {
    //       this.signin = this.googleSignin
    //       this.signout = this.googleSignout
    //     }
    //     else if(provider == 'facebook') {
    //       this.signin = this.facebookSignin
    //       this.signout = this.facebookSignout
    //     }
    //     else {
    //       throw 'Unknown provider ' + provider
    //     }
    //   }

    //   get googleUser() {
    //     if(this.ga)
    //       return this.ga.currentUser.get()
    //     else
    //       return null
    //   }

    //   get googleIsIn() {
    //     if(this.ga)
    //       return this.ga.isSignedIn.get()
    //     else
    //       null
    //   }

    //   get googleIsOut() {
    //     return !this.isIn
    //   }

    //   googleSignin() {
    //     var self = this
    //     return loadScript(self.scriptSrc)
    //     .then(s => {
    //       return new Promise(function(res, rej) {
    //         gapi.load('auth2', function() {res()})
    //       })
    //     })
    //     .then(() => {
    //       return gapi.auth2.init(self.cred).then()
    //     })
    //     .then(() => {
    //       self.ga = gapi.auth2.getAuthInstance()
    //       return self.ga.grantOfflineAccess()
    //     })
    //     .then(resp => {
    //       return fetch('/api/auth/', {
    //         method: 'get',
    //         credentials: 'include',
    //         headers: {
    //           'X-Requested-With': 'Fetch',
    //           'Authorization': 'Google ' + resp.code
    //         }
    //       })
    //     })
    //     .then(resp => Promise.all([resp, resp.json()]))
    //     .then(([resp, json]) => {
    //       if(!resp.ok)
    //         throw json
    //       return json
    //     })
    //     .then(resp => {
    //       print(resp)
    //     })
    //     .catch(err => {
    //       print(err)
    //       alert('Could not authenticate with Google.')
    //     })
    //   }

    //   googleSignout() {
    //     if(gapi && gapi.auth2) {
    //       return gapi.auth2.getAuthInstance().signOut();
    //     }
    //     else
    //       return Promise.reject()
    //   }

    //   googleIsAuthorized() {
    //     if(this.user)
    //       return this.user.hasGrantedScopes(this.cred.scope)
    //     else
    //       return null
    //   }

    //   get facebookUser() {

    //   }

    //   facebookSignin() {
    //     var self = this
    //     return loadScript(self.scriptSrc)
    //     .then(function(s) {
    //       return FB.init(self.cred)
    //     })
    //     .then(function() {
    //       return new Promise((res, rej) => {
    //         FB.login(resp => {
    //           if(resp.status == 'connected' && resp.authResponse)
    //             res(resp)
    //           else
    //             rej(resp)
    //         }, {scope: self.cred.scope, return_scopes: true})
    //       })
    //     })
    //     .then(function(resp) {
    //       return fetch('/api/auth/', {
    //         method: 'get',
    //         credentials: 'include',
    //         headers: {
    //           'X-Requested-With': 'Fetch',
    //           'Authorization': 'Facebook ' + resp.authResponse.accessToken
    //         }
    //       })
    //     })
    //     .then(resp => Promise.all([resp, resp.json()]))
    //     .then(([resp, json]) => {
    //       if(!resp.ok)
    //         throw json
    //       return json
    //     })
    //     .then(resp => {
    //       print(resp)
    //     })
    //     .catch(function(err) {
    //       print(err)
    //       alert('Could not authenticate with Facebook.')
    //     })
    //   }

    //   facebookSignout() {
    //     if(FB) {
    //       return new Promise((res, rej) => {
    //         FB.logout((resp) => {
    //           print(resp)
    //           res(resp)
    //         });
    //       })
    //     }
    //     else
    //       return Promise.reject()
    //   }

    // }

    // var gg = new Auth({provider: 'google', scriptSrc:googleScriptSrc, cred:{
    //     'clientId': '32902065428-sbal87ccp0eedjoo2opcq0tr22ha3884.apps.googleusercontent.com',
    //     'scope': 'profile email'
    //   }})

    // var fb = new Auth({provider: 'facebook', scriptSrc:facebookScriptSrc, cred:{
    //     'appId': '126309204593715',
    //     'cookie': true,
    //     'xfbml': true,
    //     'version': 'v2.9',
    //     'scope': 'email'
    //   }})

    window.addEventListener('load', function(ev) {
      // fetch('/api/users/', {
      //   method: 'post',
      //   credentials: 'include',
      //   headers: {
      //     'Content-type': 'application/json; charset=UTF-8'
      //   },
      //   body: JSON.stringify({email: 'bob@mail.com', password: '1234'})
      // }).then(res => res.json())
      // .then(res => {
      //   print(res)
      // })

      // fetch('api/items/', {
      //   method: 'get',
      //   credentials: 'include',
      //   headers: {
      //     'Content-type': 'application/json; charset=UTF-8',
      //     'Authorization': 'Basic ' + b64EncodeUnicode('bob@mail.com:1234')
      //   }
      // })

      // fetch('api/auth/', {
      //   method: 'get',
      //   credentials: 'include',
      //   headers: {
      //     'Content-type': 'application/json; charset=UTF-8',
      //     'Authorization': 'Basic ' + b64EncodeUnicode('bob@mail.com:1234')
      //   }
      // })
      // .then(res => res.json())
      // .then(res => {
      //   print(res)
      // })
    })
  </script>
</head>
<body>
  <!-- <button onclick="gg.signin()">Google Signin</button>
  <button onclick="gg.signout()">Google Signout</button>
  <br>
  <button onclick="fb.signin()">Facebook Signin</button>
  <button onclick="fb.signout()">Facebook Signout</button> -->
  <div id="root">
  </div>
</body>
